---
layout: default
title: Transit Techies NYC
permalink: /
---
<article class="section-purple">
  <div class="pure-g">
    <div class="pure-u-md-1-5"></div>
    <div class="pure-u-1 pure-u-md-3-5">
      <amp-list class="amp-list-placeholder" layout="fixed-height" height="300px" noloading reset-on-refresh single-item items="." src="https://us-central1-transittechies.cloudfunctions.net/getEvents?status=upcoming">
        <div placeholder>
          <div class="next-event-hero center">
            <div class="lds-circle"><div></div></div>
          </div>
        </div>
        <div fallback>
          <div class="next-event-hero">
            <span class="next-event-title center">Welcome to Transit Techies NYC!</span>
            {% include body-trainanimation.html %}
            <span class="next-event-callout center">Scroll down to learn more</span>
          </div>
        </div>
        {% raw  %}
        <template type="amp-mustache">
          {{#items}}
          <div class="next-event-hero">
            <span class="next-event-callout center">Next Event</span>
            <span class="next-event-date center">{{formatted_date}}</span>
            <span class="next-event-title center">{{name}}</span>
            <div class="centering-div"><a href="{{link}}" target="_blank" rel="noopener" class="pure-button button-white button-white-primary button-xlarge">RSVP</a></div>
          </div>
          {{/items}} {{^items}}
          <div class="next-event-hero">
            <span class="next-event-callout center">Next Meetup Coming Soon!</span>
            <br /><br />
            <span class="next-event-date center">While you wait, join the meetup group!</span>
            <br /><br />
            <div class="centering-div"><a href="https://www.meetup.com/Transit-Techies-NYC/?action=join" target="_blank" rel="noopener" class="pure-button button-white button-white-primary button-xlarge">Join Meetup Group</a></div>
          </div>
          {{/items}}
        </template>
        {% endraw  %}
      </amp-list>
    </div>
  </div>
</article>

<article class="section-white" id="about">
  <div class="pure-g">
    <div class="pure-u-md-1-8"></div>
    <div class="pure-u-1 pure-u-md-3-4">
      <amp-img src="../img/header3.jpg" width="2000" height="1120" layout="responsive" alt="Meetup photo" class="header-image"></amp-img>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-md-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2">
      <h2 class="center">Technologists who love transit.<br />Transit enthusiasts who hack!</h2>
      <p>Speakers present transit-related projects. Presenters may be household hackers, data scientists, researchers, product developers, or you! All presentations will be technical and awesome.</p>
      <p>Our group is inspired by the legendary <a class="link" href="https://www.meetup.com/Transportation-Techies/" title="https://www.meetup.com/Transportation-Techies/" target="_blank" rel="noopener">DC Transportation Techies</a> run by <a class="link" href="https://twitter.com/mvs202" title="https://twitter.com/mvs202" target="_blank" rel="noopener">Michael Schade</a>.
      </p>
      <div class="centering-div">
        <a href="https://www.meetup.com/Transit-Techies-NYC" target="_blank" rel="noopener" class="pure-button button-white button-white-secondary button-large">Meetup Page</a>
      </div>
    </div>
  </div>
</article>

{% include body-submit.html %}


<article class="nopadding">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
      <amp-img src="../img/gallery/ttnyc1.jpg" width="2000" height="1499" layout="responsive" alt="Meetup photo"></amp-img>
    </div>
    <div class="pure-u-1 pure-u-md-1-4">
      <amp-img src="../img/gallery/ttnyc2.jpg" width="2000" height="1499" layout="responsive" alt="Meetup photo"></amp-img>
    </div>
    <div class="pure-u-md-1-4">
      <amp-img src="../img/gallery/ttnyc3.jpg" width="2000" height="1499" layout="responsive" alt="Meetup photo"></amp-img>
    </div>
    <div class="pure-u-md-1-4">
      <amp-img src="../img/gallery/ttnyc4.jpg" width="2000" height="1499" layout="responsive" alt="Meetup photo"></amp-img>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
      <amp-img src="../img/gallery/ttnyc5.jpg" width="2000" height="1499" layout="responsive" alt="Meetup photo"></amp-img>
    </div>
    <div class="pure-u-1 pure-u-md-1-4">
      <amp-img src="../img/gallery/ttnyc8.jpg" width="2000" height="1499" layout="responsive" alt="Meetup photo"></amp-img>
    </div>
    <div class="pure-u-md-1-4">
      <amp-img src="../img/gallery/ttnyc6.jpg" width="2000" height="1499" layout="responsive" alt="Meetup photo"></amp-img>
    </div>
    <div class="pure-u-md-1-4">
      <amp-img src="../img/gallery/ttnyc7.jpg" width="2000" height="1499" layout="responsive" alt="Meetup photo"></amp-img>
    </div>
  </div>
</article>

{% include body-partners.html %}
    
<article class="past-speakers section section-white">
  <div class="pure-g">
      <div class="pure-u-md-1-4"></div>
      <div class="pure-u-1 pure-u-md-1-2">
      <h2 class="center text-purple">Past Speakers</h2>
      <p class="center">Below is a list of people who have presented at past events. We regularly have 3-4 speakers per session.</p>
    </div>
  </div>
  <div class="pure-g">
      <div class="pure-u-md-1-8"></div>
      <div class="pure-u-1 pure-u-md-3-4">
      <div class="past-speakers-container">
        {% for speaker in site.data.pastspeakers %}
        <div class="card">
          {% if speaker.link %}
          <div class="has-link">
            <a href="{{ speaker.link }}" target="_blank" rel="noopener" class="text-decoration-none">
            {% endif %}
              {% if speaker.image %}
              <amp-img src="../img/people/{{ speaker.image }}" width="150" height="150" layout="responsive" alt="speaker photo"></amp-img>
              {% else %}
              <div class="generic-headshot-container">
                <amp-img src="../img/person.svg" width="100" height="100" layout="responsive" alt="generic person icon" class="generic-headshot"></amp-img>
              </div>
              {% endif %}
              <span class="speaker-name">{{ speaker.name }}</span>
            {% if speaker.link %}
            </a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
        <div class="card you-speaker">
          <div class="">
            <a class="text-decoration-none" href="https://goo.gl/forms/yHRxsngEwGvJHQux2" title="https://goo.gl/forms/yHRxsngEwGvJHQux2" target="_blank" rel="noopener">
                <div class="you-speaker-body">
                  <p>This could be you!
                  </br> </br> <b>Submit your idea for a talk!</b></p>
                  <span class="speaker-name"><b>SUBMIT</b></span>
                </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="organizers section section-white nopadding">
  <div class="pure-g">
      <div class="pure-u-md-1-4"></div>
      <div class="pure-u-1 pure-u-md-1-2">
      <h3 class="center text-purple">Organizers</h3>
      <p class="center">Transit Techies NYC was started in the summer of 2018 by Tyler Green and Kohzy.</p>
    </div>
  </div>
  <div class="pure-g">
      <div class="pure-u-md-1-8"></div>
      <div class="pure-u-1 pure-u-md-3-4">
      <div class="past-speakers-container">
        {% for organizer in site.data.organizers %}
        <div class="organizer-profile">
          <div class="card">
            <div class="has-link organizer">
              <a href="{{ organizer.link }}" target="_blank" rel="noopener" class="text-decoration-none">
                <amp-img src="../img/people/{{ organizer.image }}" width="150" height="150" layout="responsive" alt="organizer photo"></amp-img>
                <span class="speaker-name">{{ organizer.name }}</span>
              {% if organizer.link %}
              </a>
            </div>
            {% endif %}
          </div>
          <p class="organizer-blurb">{{ organizer.blurb }}</p>
        </div>
        {% endfor %}
      </div></div>
</article>