---
layout: default
title: Transit Techies NYC
permalink: /
---
<article class="section-purple">
  <div class="pure-g">
    <div class="pure-u-md-1-5"></div>
    <div class="pure-u-1 pure-u-md-3-5">
      <div class="next-event-hero">
        <h1 class="center">Transit Techies NYC</h1>
        <span class="next-event-callout center">This site is in archive mode. Visit the Transit Techies NYC meetup group for the latest information:</span>
        <div class="centering-div">
          <a href="https://www.meetup.com/transit-techies-nyc/" target="_blank" rel="noopener" class="pure-button button-white button-white-primary button-xlarge">Go to meetup group</a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdUbqZXMmAWvmdoO4L8RoCw7-v20IlKj4mTHBbF74KsdwI9nA/viewform" target="_blank" rel="noopener" class="pure-button button-white button-white-primary button-xlarge">Propose a topic</a>
          <a href="https://www.linkedin.com/in/isaacdonis/" target="_blank" rel="noopener" class="pure-button button-white button-white-primary button-xlarge">Reach out to the current organizer</a>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="section-white" id="about">
  <div class="pure-g">
    <div class="pure-u-md-1-8"></div>
    <div class="pure-u-1 pure-u-md-3-4">
      <img src="../img/header4.jpg" width="2000" height="1111" alt="Meetup photo" class="header-image responsive"></img>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-md-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2">
      <h2 class="center">Technologists who love transit.<br />Transit enthusiasts who hack!</h2>
      <p>At Transit Techies NYC, speakers present transit-related projects. Presenters may be household hackers, data scientists, researchers, product developers, or you! All presentations will be technical and awesome.</p>
      <p>This group is inspired by the legendary <a class="link" href="https://www.meetup.com/Transportation-Techies/" title="https://www.meetup.com/Transportation-Techies/" target="_blank" rel="noopener">DC Transportation Techies</a> run by <a class="link" href="https://twitter.com/mvs202" title="https://twitter.com/mvs202" target="_blank" rel="noopener">Michael Schade</a>.
      </p>
      <div class="centering-div">
        <a href="https://www.meetup.com/Transit-Techies-NYC" target="_blank" rel="noopener" class="pure-button button-white button-white-secondary button-large">Meetup Page</a>
      </div>
    </div>
  </div>
</article>

<article class="nopadding">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
      <img src="../img/gallery/ttnyc1.jpg" width="2000" height="1499" class="responsive" alt="Meetup photo"></img>
    </div>
    <div class="pure-u-1 pure-u-md-1-4">
      <img src="../img/gallery/ttnyc2.jpg" width="2000" height="1499" class="responsive" alt="Meetup photo"></img>
    </div>
    <div class="pure-u-md-1-4">
      <img src="../img/gallery/ttnyc3.jpg" width="2000" height="1499" class="responsive" alt="Meetup photo"></img>
    </div>
    <div class="pure-u-md-1-4">
      <img src="../img/gallery/ttnyc4.jpg" width="2000" height="1499" class="responsive" alt="Meetup photo"></img>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
      <img src="../img/gallery/ttnyc5.jpg" width="2000" height="1499" class="responsive" alt="Meetup photo"></img>
    </div>
    <div class="pure-u-1 pure-u-md-1-4">
      <img src="../img/gallery/ttnyc8.jpg" width="2000" height="1499" class="responsive" alt="Meetup photo"></img>
    </div>
    <div class="pure-u-md-1-4">
      <img src="../img/gallery/ttnyc6.jpg" width="2000" height="1499" class="responsive" alt="Meetup photo"></img>
    </div>
    <div class="pure-u-md-1-4">
      <img src="../img/gallery/ttnyc7.jpg" width="2000" height="1499" class="responsive" alt="Meetup photo"></img>
    </div>
  </div>
</article>
    
<article class="past-speakers section section-white">
  <div class="pure-g">
      <div class="pure-u-md-1-4"></div>
      <div class="pure-u-1 pure-u-md-1-2">
      <h2 class="center text-purple">Past Speakers</h2>
      <p class="center">Below is a list of people who have presented at past events.</p>
    </div>
  </div>
  <div class="pure-g">
      <div class="pure-u-md-1-8"></div>
      <div class="pure-u-1 pure-u-md-3-4">
      <div class="past-speakers-container">
        {% for speaker in site.data.pastspeakers %}
        <div class="card">
          {% if speaker.link %}
          <div class="has-link">
            <a href="{{ speaker.link }}" target="_blank" rel="noopener" class="text-decoration-none">
            {% endif %}
              {% if speaker.image %}
              <img src="../img/people/{{ speaker.image }}" width="150" height="150" class="responsive" alt="speaker photo"></img>
              {% else %}
              <div class="generic-headshot-container">
                <img src="../img/person.svg" width="150" height="150" alt="generic person icon" class="generic-headshot responsive"></img>
              </div>
              {% endif %}
              <span class="speaker-name">{{ speaker.name }}</span>
            {% if speaker.link %}
            </a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</article>

{% include body-founders.html %}