---
layout: default
title: Transit Techies NYC
permalink: /
---
<!-- {% raw  %}
<section id="jumbotron">
  <div src="https://us-central1-transittechies.cloudfunctions.net/getEvents?status=upcoming">
    <h2>{{local_date}}</h2>
    <h1>{{name}}</h1>
    <button class="ampstart-btn" href="{{link}}" target="_blank" rel="noopener">RSVP</button>
  </div>
</section>
{% endraw  %} -->

<section id="about-section">
<span id="about"></span>
<amp-img src="../img/header3.jpg" width="2000" height="1120" layout="responsive" alt="Meetup photo" class="mb2"></amp-img>
<h2 class="center">Technologists who love transit. </br> Transit enthusiasts who hack!</h2>
<p class="px3">Bringing together the technologists who love transit, and the transit enthusiasts who hack!</p>
<p class="px3">We'll have speakers present transit-related projects. Presenters may be household hackers, data scientists, researchers, product developers, or you! All presentations will be technical and awesome.</p>
<p class="px3">Our group is inspired by the legendary <a class="link" href="https://www.meetup.com/Transportation-Techies/" title="https://www.meetup.com/Transportation-Techies/" target="_blank" rel="noopener">DC Transportation Techies</a> run by <a class="link" href="https://twitter.com/mvs202" title="https://twitter.com/mvs202" target="_blank" rel="noopener">Michael Schade</a>.
</p>
</section>

{% include body-submit.html %}

<section id="photo-collage">
  
</section>

<!-- {% include body-sponsors.html %} -->

<section id="past-speakers" class="center">
  <h2>Past Speakers</h2>
  <p>We regularly have 3-4 speakers per session.</p>
  <a href="/past"><button class="ampstart-btn ampstart-btn-secondary">PAST EVENTS</button></a>
  <div id="past-speakers-container">
    {% for speaker in site.data.pastspeakers %}
    <div class="card">
      {% if speaker.link %}
      <a href="{{ speaker.link }}" target="_blank" rel="noopener">
      {% endif %}
        {% if speaker.image %}
        <amp-img src="../img/people/{{ speaker.image }}" layout="responsive" alt="User photo"></amp-img>
        {% else %}
        <amp-img src="../img/person.svg" width="150" height="150" layout="responsive" alt="User photo"></amp-img>
        {% endif %}
        <span class="speaker-name">{{ speaker.name }}</span>
      {% if speaker.link %}
      </a>
      {% endif %}
    </div>
    {% endfor %}
    <div class="card">
      <span class="speaker-name">This could be you!</span>
      <br /><br />
      <p>Want to be a speaker? <a class="link" href="https://goo.gl/forms/yHRxsngEwGvJHQux2" title="https://goo.gl/forms/yHRxsngEwGvJHQux2" target="_blank" rel="noopener">Click here to submit your idea for a talk!</a></p>
    </div>
  </div>
</section>

<section id="organizers">
  <p>Transit Techies NYC was started in the summer of 2018 by Tyler Green and Kohzy Koh.</p>
  <div id="past-speakers-container">
    {% for organizer in site.data.organizers %}
    <div class="card">
      {% if organizer.link %}
      <a href="{{ organizer.link }}" target="_blank" rel="noopener">
      {% endif %}
        {% if organizer.image %}
        <amp-img src="../img/people/{{ speaker.image }}" layout="responsive" alt="User photo"></amp-img>
        {% else %}
        <amp-img src="../img/person.svg" width="150" height="150" layout="responsive" alt="User photo"></amp-img>
        {% endif %}
        <span class="speaker-name">{{ organizer.name }}</span>
      {% if organizer.link %}
      </a>
      {% endif %}
        <div class="blurb">
          {% if organizer.blurb %}
          <span class="organizer-blurb">{{ organizer.blurb }}</span>
          {% endif %}
        </div>
    </div>
    {% endfor %}
  </div>
</section>