<article class="section-gray">
  <div class="pure-g">
    <div class="pure-u-md-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2 center">
      <h3>Videos</h3>
      <p>By popular demand, events #4 to #12 were recorded and made available on the Transit Techies NYC YouTube channel.</p>
      <div class="centering-div">
        <a href="https://www.youtube.com/channel/UCKSC5WJLFaWQKB0d5BnI6LA" title="YouTube Transit Techies" target="_blank" rel="noopener" class="pure-button button-purple button-large">YouTube</a>
      </div>
    </div>
  </div>
</article>