<section id="schedule">
<!-- Note: since AMP uses Mustache with braces to render dynamic content, we need to escape markdown processing here -->
{% raw  %}
<amp-list class="amp-list-placeholder" noloading width="auto"
  reset-on-refresh
  height=660 src="https://us-central1-transittechies.cloudfunctions.net/getEvents?status=past">
  
  <div placeholder class="event-container">
    <div class="placeholder-card event-item"></div><div class="placeholder-card event-item"></div>
  </div>
  <template type="amp-mustache">
  <div class="ampstart-card event-item">
  	<div class="container">
	  	<div class="sm-col sm-col-3">
		    <a href="{{link}}" target="_blank" rel="noopener"><amp-img width="50" height="50" alt="Calendar icon" src="/img/cal_icon.svg" class="centered"></amp-img></a>
		</div>
	  	<div class="sm-col sm-col-9">
	  		<div  class="event-item-body">
			    <h4><a href="{{link}}" target="_blank" rel="noopener">{{name}}</a></h4>
			    <p>{{local_date}}</p>
			    <p>{{local_time}}</p>
			    <p>{{venue_name}}, {{venue_address_1}}, {{venue_city}}</p>
			</div>
		    <a href="{{link}}" target="_blank" rel="noopener" class="event-item-link">Meetup page</a>
		    <!-- <a href="{{link}}" target="_blank" rel="noopener" class="event-item-link">Presentations</a> -->
		</div>
	</div>
  </div>
  </template>
</amp-list>
{% endraw  %}

</section>