<nav class="navbar">
  <details class="navbar-sidebar navbar-details navbar-top-details">
    <summary id="navbar-main-menu-title" class="navbar-details-title">☰</summary>
    <div class="navbar-details-content">
      <ul aria-labelledby="navbar-main-menu-title">
        <li><a href="/#about" class="text-decoration-none">ABOUT</a></li>
        <li><a href="https://www.meetup.com/Transit-Techies-NYC" target="_blank" rel="noopener" class="text-decoration-none">MEETUP</a></li>
        <li><a href="/past" class="text-decoration-none">PAST EVENTS</a></li>
        <li>
          <details class="navbar-details">
            <summary id="navbar-subsection-title" class="navbar-details-title">Resources</summary>
            <div class="navbar-details-content">
              <ul aria-labelledby="navbar-subsection-title">
                <li><a href="https://www.youtube.com/channel/UCKSC5WJLFaWQKB0d5BnI6LA" class="text-decoration-none" target="_blank" rel="noopener">Videos</a></li>
                <li><a href="https://www.meetup.com/Transit-Techies-NYC/discussions/" class="text-decoration-none" target="_blank" rel="noopener">Contact/Discussion</a></li>
                <li><a href="https://www.meetup.com/Transportation-Techies/" class="text-decoration-none" target="_blank" rel="noopener">D.C. Meetup</a></li>
              </ul>
            </div>
          </details>
        </li>
        <li>{% include body-shareicons.html %}</li>
      </ul>
    </div>
  </details>
  <div class="navbar-title"><a href="/" class="text-decoration-none">Transit Techies NYC</a></div>
  <div class="navbar-horiz">
    <ul class="navbar-horiz-list">
      <li><a href="/#about" class="text-decoration-none">ABOUT</a></li>
      <li><a href="https://www.meetup.com/Transit-Techies-NYC" target="_blank" rel="noopener" class="text-decoration-none">MEETUP</a></li>
      <li><a href="/past" class="text-decoration-none">PAST EVENTS</a></li>
      <li>
        <details class="navbar-details navbar-top-details">
          <summary id="navbar-resources-title" class="navbar-details-title">Resources</summary>
          <div class="navbar-details-content">
            <ul aria-labelledby="navbar-resources-title">
              <li><a href="https://www.youtube.com/channel/UCKSC5WJLFaWQKB0d5BnI6LA" class="text-decoration-none" target="_blank" rel="noopener">Videos</a></li>
              <li><a href="https://www.meetup.com/Transit-Techies-NYC/discussions/" class="text-decoration-none" target="_blank" rel="noopener">Contact/Discussion</a></li>
              <li><a href="https://www.meetup.com/Transportation-Techies/" class="text-decoration-none" target="_blank" rel="noopener">D.C. Meetup</a></li>
            </ul>
          </div>
        </details>
      </li>
    </ul>
  </div>
</nav>